header {
  color: var(--text-secondary-color);
}


nav {
  @apply flex flex-col p-4 w-1/5 transform lg:translate-x-0 lg:flex;
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  display: none;
}

.nav-link {
  @apply py-2 px-4 rounded flex gap-4;

  &:hover {
    background-color: var(--secondary-color);
    color: var(--text-secondary-color);
  }
}

.user-icon {
  @apply px-4 py-3 rounded-full;
  border: 2px solid var(--primary-color);
}

.icon-size {
  width: 25px;
  height: 25px;
}

.p-sidebar {
  background-color: var(--primary-color) !important;
  color: var(--text-primary-color) !important;
}

.p-sidebar .nav-link {
  background-color: var(--primary-color);
  color: var(--text-primary-color);
}

.p-sidebar .nav-link:hover {
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
}

@media (min-width: 768px) {
  nav {
    display: block;
  }

  .pi-bars {
    display: none;
  }
}

@media (max-width: 767px) {
  .pi-bars {
    display: block;
  }

  .nav {
    display: none;
  }
}
