<div class="flex gap-4 mb-6 items-center">
  <h2 class="capitalize my-4">{{ 'contract-feature-current' | translate }}</h2>
  <p-button (click)="edit()" outlined raised severity="warn"><i class="pi pi-pencil"></i>{{ "btn-edit" | translate }}</p-button>
  <p-button outlined raised severity="danger" (click)="delete()"><i class="pi pi-times"></i>{{ "btn-delete" | translate }}</p-button>
</div>

<form [formGroup]="formGroup" (ngSubmit)="update()">
  <div class="flex flex-col gap-8 my-6">
    <p-float-label>
      <p-input-number id="salary" formControlName="salary" mode="currency" inputId="salary" currency="EUR" locale="be-BE" />
      <label for="salary">{{ 'contract-create-feature-salary' | translate }}</label>
    </p-float-label>
    <p-float-label>
      <p-multi-select id="perks" autocomplete [options]="getTranslatedPerks()" formControlName="perks" optionLabel="label" display="chip" styleClass="w-full md:w-80" />
      <label for="perks">{{ 'contract-create-feature-perks' | translate }}</label>
    </p-float-label>

    <p-float-label>
      <p-calendar showIcon iconDisplay="input" formControlName="startDate" dateFormat="dd/mm/yy" showOnFocus="false"></p-calendar>
      <label for="startDate" class="pt-2">{{ "contract-create-feature-startDate" | translate }}</label>
    </p-float-label>
    <p-float-label>
      <p-calendar showIcon iconDisplay="input" formControlName="endDate" dateFormat="dd/mm/yy" showOnFocus="false"></p-calendar>
      <label for="endDate" class="pt-2">{{ "contract-create-feature-endDate" | translate }}</label>
    </p-float-label>
    <p-float-label>
      <input pInputText id="contractType" autocomplete="on" formControlName="contractType"/>
      <label for="contractType">{{ 'contract-create-feature-contractType' | translate }}</label>
    </p-float-label>

    <div class="flex gap-6 items-center">
      <p-float-label>
        <p-input-number id="weeklySchedule" formControlName="weeklySchedule" mode="decimal" [showButtons]="true" inputId="weeklySchedule" [min]="" [max]="40" />
        <label for="weeklySchedule">{{ 'contract-create-feature-weeklySchedule' | translate }}</label>
      </p-float-label>
      <div class="w-1/2">
        <p-progress-bar [value]="schedulePercentage" [color]="getProgressBarColor()"></p-progress-bar>
      </div>
    </div>
  </div>
  @if(this.editMode){
    <p-button outlined raised type="submit" severity="success"><i class="pi pi-save"></i>{{ 'btn-save' | translate }}</p-button>
  }
</form>

