<main class="p-6">

  <p-button raised severity="secondary" routerLink="/staff"><i class="pi pi-arrow-left"></i>{{ 'staff-feature-detail-back-to-list' | translate }}</p-button>

  <h1 class="mb-6">{{ 'staff-feature-detail-title' | translate }}</h1>

<!--  TODO: error handling-->
  @if(loading){
    <p-progress-spinner/>
  }
  @else{
    @if(employee$()){
      <p-tabs value="0">
        <p-tablist>
          <p-tab class="uppercase" value="0">{{ 'staff-detail-feature-first-tab' | translate }}</p-tab>
          <p-tab class="uppercase" value="1">{{ 'staff-detail-feature-second-tab' | translate }}</p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel value="0">
            <form [formGroup]="staffFormGroup" class="flex justify-between flex-wrap mx-20" (ngSubmit)="update()">
              <div class="form-section">
                <div class="flex gap-4 mb-4">
                  <p-button variant="outlined" (click)="onEditClick()" severity="warn"><i class="pi pi-pencil"></i>{{ "btn-edit" | translate }}</p-button>
                  <p-button variant="outlined" (click)="delete()" severity="danger"><i class="pi pi-times"></i>{{ "btn-delete" | translate }}</p-button>
                </div>
                <h2>{{ 'staff-detail-feature-personal-data' | translate }}</h2>
                  <div class="my-8 flex justify-between flex-wrap gap-8">
                    <p-floatlabel>
                      <input formControlName="lastname" pInputText id="lastname"/>
                      <label for="lastname">{{ "staff-lastname" | translate }}</label>
                    </p-floatlabel>
                    <p-floatlabel>
                      <input formControlName="firstname" pInputText id="firstname"/>
                      <label for="firstname">{{ "staff-firstname" | translate }}</label>
                    </p-floatlabel>
                  </div>
                  <div class="my-8 flex gap-6 flex-col flex-wrap">
                    <div class="flex justify-between flex-wrap gap-6">
                      <p-floatlabel>
                        <input formControlName="role" pInputText id="role"/>
                        <label for="role">{{ "staff-role" | translate }}</label>
                      </p-floatlabel>
                      <p-floatlabel>
                        <input formControlName="gender" pInputText id="gender"/>
                        <label for="gender">{{ "staff-gender" | translate }}</label>
                      </p-floatlabel>
                    </div>
                    <p-floatlabel class="mt-2">
                      <input formControlName="iban" pInputText id="iban" class="w-full" />
                      <label for="iban">{{ "staff-iban" | translate }}</label>
                    </p-floatlabel>
                    <p-float-label>
                      <p-calendar showIcon iconDisplay="input" formControlName="birthdate" dateFormat="dd/mm/yy" showOnFocus="false"></p-calendar>
                      <label class="pt-2">{{ "staff-birthdate" | translate }}</label>
                    </p-float-label>
                  </div>

                <div class="mt-4">
                  <h2>{{ 'staff-detail-feature-contact' | translate }}</h2>

                  <div class="my-8">
                    <p-floatlabel >
                      <input formControlName="mail" pInputText id="mail" class="w-full"/>
                      <label for="mail">{{ "staff-mail" | translate }}</label>
                    </p-floatlabel>
                  </div>
                  <div class="my-8 w-full">
                    <p-floatlabel>
                      <input formControlName="phone" pInputText id="phone" class="w-full"/>
                      <label for="phone">{{ "staff-phone" | translate }}</label>
                    </p-floatlabel>
                  </div>
                </div>
              </div>

              <div class="form-section">
                <h2 class="capitalize mt-12">{{ 'staff-detail-feature-address' | translate }}</h2>

                <div formGroupName="address">
                  <div class="my-8 flex gap-6 flex-wrap">
                    <p-floatlabel>
                      <input formControlName="road" pInputText id="road" />
                      <label for="road">{{ "address-road" | translate }}</label>
                    </p-floatlabel>
                    <p-floatlabel>
                      <input formControlName="nb" pInputText id="nb" />
                      <label for="nb">{{ "address-nb" | translate }}</label>
                    </p-floatlabel>
                  </div>
                  <div class="my-8 flex gap-6 flex-wrap">
                    <p-floatlabel>
                      <input formControlName="cp" pInputText id="cp" />
                      <label for="cp">{{ "address-cp" | translate }}</label>
                    </p-floatlabel>
                    <p-floatlabel>
                      <input formControlName="town" pInputText id="town" />
                      <label for="town">{{ "address-town" | translate }}</label>
                    </p-floatlabel>
                  </div>
                  <div class="my-8 flex gap-6 flex-wrap">
                    <p-floatlabel>
                      <input formControlName="country" pInputText id="country" />
                      <label for="country">{{ "address-country" | translate }}</label>
                    </p-floatlabel>
                  </div>
                  <p-floatlabel>
                    <input class="w-full" formControlName="complements" pInputText id="complements" />
                    <label for="complements">{{ "address-complements" | translate }}</label>
                  </p-floatlabel>
                </div>
                @if(isEditMode){
                  <div class="mt-4">
                    <p-button type="submit"><i class="pi pi-save"></i>{{ "btn-save" | translate }}</p-button>
                  </div>
                }
              </div>
            </form>
          </p-tabpanel>

          <p-tabpanel value="1">
            <h2 class="capitalize">{{ 'staff-detail-feature-second-tab' | translate }}</h2>
          </p-tabpanel>

        </p-tabpanels>
      </p-tabs>
    }
  }

  <p-toast />
  <p-confirmDialog />
</main>
